<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TestDBConnection"
		     providerName="Npgsql.EntityFrameworkCore.PostgreSQL"
		     connectionString="Host=localhost;Username=postgres;Password=1488;Database=JiraDB; Include Error Detail=true"/>
		<add name="TestMongoDBConnection"
		     connectionString="mongodb://localhost:27017/JiraDB"/>
	</connectionStrings>
</configuration>